.nested-fields
  .row
    .col-md-12
      = link_to_remove_association f, class: "text-danger pull-right" do
        %i.fa.fa-times

  .row
    .col-md-12
      .form-group
        = f.input :url, class: 'form-control', label: 'Website address', placeholder: 'http://mywebsite.com', type: 'url'

      .form-group.m-b-40.checkbox.checkbox-success.checkbox-circle
        = f.input :primary, as: :boolean, label: 'Primary Website?'
