.nested-fields
  .row
    .col-md-12
      = link_to_remove_association f, class: "text-danger pull-right" do
        %i.fa.fa-times

  .row
    .col-md-12
      .form-row
        .form-group.col-md-3
          = f.input :area_code, class: 'form-control', placeholder: "212"

        .form-group.col-md-6
          = f.input :phone_number, class: 'form-control', placeholder: "555-1212", type: 'tel'

      .form-group.m-b-40.checkbox.checkbox-success.checkbox-circle
        = f.input :primary, as: :boolean, label: 'Primary Phone?'
