- content_for :page_icon do
  icon-Business-Mens

- content_for :page_title do
  Add a
  %strong Tenant

- content_for :secondary_page do
  %li.breadcrumb-item
    = link_to 'Tenants', renters_path

= render 'form'

.row
  = link_to 'Back', renters_path
