%footer.content-footer.bg-light.b-t
  .d-flex.flex.align-items-center.pl-15.pr-15
    .d-flex.flex.p-3.ml-auto
      %div
        %a.d-inline-flex.pl-0.pr-2.b-r{:href => "#"} Contact
        %a.d-inline-flex.pl-2.pr-2.b-r{:href => "#"} Storage
        %a.d-inline-flex.pl-2.pr-2{:href => "#"} Privacy
    .d-flex.flex.p-3.mr-auto.justify-content-end
      .text-muted Copyright 2018. Sidney P. Katz, PLLC
