%li.nav-item.dropdown.tools-dropdown.h-lg-down
  %a.nav-link{"data-toggle" => "dropdown", :href => "#"}
    %i.icon-Filter-2
  .dropdown-menu.dropdown-menu-right.dropdown-menu-lg
    .row.no-margin
      .col-4.p-3.text-center
        %a.d-block.tool-item{:href => "index.html"}
          %i.icon-New-Mail.text-teal
          .tool-heading.fs12 New Email
      .col-4.p-3.text-center
        %a.d-block.tool-item{:href => "index.html"}
          %i.icon-Folder-Add.text-success
          .tool-heading.fs12 New Project
      .col-4.p-3.text-center
        %a.d-block.tool-item{:href => "index.html"}
          %i.icon-Administrator.text-primary
          .tool-heading.fs12 My Profile
      .col-4.p-3.text-center
        %a.d-block.tool-item{:href => "index.html"}
          %i.icon-Gear.text-dark
          .tool-heading.fs12 Settings
      .col-4.p-3.text-center
        %a.d-block.tool-item{:href => "index.html"}
          %i.icon-Server-2.text-info
          .tool-heading.fs12 Server Space
      .col-4.p-3.text-center
        %a.d-block.tool-item{:href => "index.html"}
          %i.icon-Ticket.text-danger
          .tool-heading.fs12 Tickets
