%li.h-lg-up.nav-item
  %a.nav-link.collapsed{"aria-expanded" => "false", "data-target" => "#navbarToggler", "data-toggle" => "collapse", :href => "#"}
    %i.icon-Magnifi-Glass2

#navbarToggler.collapse.navbar-collapse.search-collapse
  %form.form-inline.ml-1
    %button.no-padding.bg-trans.border0{:type => "button"}
      %i.icon-Magnifi-Glass2
    %input.form-control.border0{"aria-label" => "Search", :placeholder => "Search...", :type => "search"}/
