- content_for :page_icon do
  icon-Business-Mens

- content_for :page_title do
  Add a
  %strong Case

- content_for :secondary_page do
  %li.breadcrumb-item
    = link_to 'Cases', suits_path

= render 'form'
