.bg-white.p-3.border1.rounded
  %ul.timeline-alt.list-unstyled
    %li.clearfix.d-flex.flex
      .tl-thumb.bg-primary.text-primary-light.fs10.font600.rounded-circle
        %i.fa.fa-comments
      .tl-content
        %span.text-muted.float-right.fs12.d-inline-block 12 Min ago
        %a{:href => "#"}
          %span New Message
        %p
          Sent you friend request
        %ul.list-inline
          %li.list-inline-item
            %a{:href => "#"} John Doe
          %li.list-inline-item
            %span.text-muted.fs12.d-inline-block 21 hours ago
          %li.list-inline-item
            %a{:href => "#"}
              %i.fa.fa-reply.mr-1.fs10
              Reply
    / timeline item
    %li.clearfix.d-flex.flex
      .tl-thumb.rounded-circle
        %img.img-fluid.rounded-circle{:alt => "", :src => "images/avatar2.jpg"}/
      .tl-content
        %a{:href => "#"}
          %span Replace these images with current home slider
        %p
          Assign you a tasks lorem ipsum simply dummy text of printing you a tasks lorem ipsum simply dummy text of printing you a tasks lorem ipsum simply dummy text of printing
        .clearfix.pb-1
          %a{:href => "#"}
            %img.mb-1.mr-2.img-fluid.shadow-sm.avatar60.rounded{:alt => "", :src => "images/img6.jpg"}/
          %a{:href => "#"}
            %img.mb-1.mr-2.img-fluid.shadow-sm.avatar60.rounded{:alt => "", :src => "images/img5.jpg"}/
          %a{:href => "#"}
            %img.mb-1.img-fluid.shadow-sm.avatar60.rounded{:alt => "", :src => "images/img4.jpg"}/
        %ul.list-inline
          %li.list-inline-item
            %a{:href => "#"} John Doe
          %li.list-inline-item
            %span.text-muted.fs12.d-inline-block 21 hours ago
          %li.list-inline-item
            %a{:href => "#"}
              %i.fa.fa-reply.mr-1.fs10
              Reply
    / timeline item
    %li.clearfix.d-flex.flex
      .tl-thumb.bg-danger.text-danger-light.rounded-circle
        %i.fa.fa-ticket-alt.fs10
      .tl-content
        %span.text-muted.float-right.fs12.d-inline-block 12 Min ago
        %a{:href => "#"}
          %span Support ticket created
        %p
          Sent you friend request
        %ul.list-inline
          %li.list-inline-item
            %a{:href => "#"} John Doe
          %li.list-inline-item
            %span.text-muted.fs12.d-inline-block 21 hours ago
          %li.list-inline-item
            %a{:href => "#"}
              %i.fa.fa-reply.mr-1.fs10
              Reply
    / timeline item
    %li.clearfix.d-flex.flex
      .tl-thumb.rounded-circle
        %img.img-fluid.rounded-circle{:alt => "", :src => "images/avatar4.jpg"}/
      .tl-content
        %a{:href => "#"}
          %span Replace these images with current home slider
        %p
          Assign you a tasks lorem ipsum simply dummy text of printing you a tasks lorem ipsum simply dummy text of printing you a tasks lorem ipsum simply dummy text of printing
        .clearfix.pb-1
          %a{:href => "#"}
            %img.mb-1.mr-2.img-fluid.shadow-sm.avatar60.rounded{:alt => "", :src => "images/img6.jpg"}/
          %a{:href => "#"}
            %img.mb-1.mr-2.img-fluid.shadow-sm.avatar60.rounded{:alt => "", :src => "images/img5.jpg"}/
          %a{:href => "#"}
            %img.mb-1.img-fluid.shadow-sm.avatar60.rounded{:alt => "", :src => "images/img4.jpg"}/
        %ul.list-inline
          %li.list-inline-item
            %a{:href => "#"} John Doe
          %li.list-inline-item
            %span.text-muted.fs12.d-inline-block 21 hours ago
          %li.list-inline-item
            %a{:href => "#"}
              %i.fa.fa-reply.mr-1.fs10
              Reply
    / timeline item
    %li.clearfix.d-flex.flex
      .tl-thumb.si-colored-facebook.rounded-circle
        %i.fab.fa-facebook-f.fs10
      .tl-content
        %span.text-muted.float-right.fs12.d-inline-block 12 Min ago
        %a{:href => "#"}
          %span New Friend Request
        %p
          Sent you friend request
        %ul.list-inline
          %li.list-inline-item
            %a{:href => "#"} John Doe
          %li.list-inline-item
            %span.text-muted.fs12.d-inline-block 21 hours ago
          %li.list-inline-item
            %a{:href => "#"}
              %i.fa.fa-reply.mr-1.fs10
              Reply
    / timeline item
    %li.clearfix.d-flex.flex
      .tl-thumb.si-colored-twitter.rounded-circle
        %i.fab.fa-twitter.fs10
      .tl-content
        %span.text-muted.float-right.fs12.d-inline-block 3d ago
        %a{:href => "#"}
          %span New followers
        %p
          21 New followers on twitter
        %ul.list-inline
          %li.list-inline-item
            %a{:href => "#"} John Doe
          %li.list-inline-item
            %span.text-muted.fs12.d-inline-block 21 hours ago
          %li.list-inline-item
            %a{:href => "#"}
              %i.fa.fa-reply.mr-1.fs10
              Reply
    / timeline item
