.bg-white.p-3.border1.rounded
  .row.mb-2
    .col-6
      %small.text-muted Username
      .font500
        @sarahtaylor
    .col-6
      %small.text-muted Email
      .font500 sarah@gmail.com
  .row.mb-2
    .col-6
      %small.text-muted Cell Phone
      .font500
        1243 0303 0333
    .col-6
      %small.text-muted Family Phone
      .font500 +32(0) 3003 234 543
