- content_for :page_icon do
  icon-Suitcase

- content_for :page_title do
  Court
  %strong Filings

.row
  .bg-white.table-responsive.rounded.shadow-sm.pt-3.pb-3.mb-30
    .clearfix.b-b.mb-3.pb-2
      = link_to new_filing_path, class:'btn btn-dark btn-icon float-right mr-3' do
        %i.fa.fa-plus
        New Filing
      %h6.pl-3.pr-3.text-capitalize.font500.mb-20 Filings List

    = render 'filings', filings: @filings
