- content_for :page_icon do
  icon-Suitcase

- content_for :page_title do
  Add a
  %strong Filing

- content_for :secondary_page do
  %li.breadcrumb-item
    = link_to 'Filings', filings_path

= render 'form'
