- content_for :page_icon do
  icon-Libra-2

- content_for :page_title do
  Add a
  %strong Court

- content_for :secondary_page do
  %li.breadcrumb-item
    = link_to 'Courts', courts_path

= render 'form'

.row
  = link_to 'Back', courts_path
