.nested-fields
  .row
    .col-md-12
      = link_to_remove_association f, class: "text-danger pull-right" do
        %i.fa.fa-times

  .row
    .col-md-12
      .form-group
        = f.input :email, class: 'form-control', type: 'email', placeholder: "user@example.com"

      .form-group.m-b-40.checkbox.checkbox-success.checkbox-circle
        = f.input :primary, as: :boolean, label: 'Primary Email?'
